<div>
    <h1 class="text-success">Boilerplate Template</h1>
    <h5 class="text-success">INET2005 Web Appplication Programming I</h5>
    <p>
    This Boilerplate is a scaled version of the web app generated with "dotnet new mvc" with all unnecessary code removed.
    </p>
    <p>
    Boilerplate template usage:
    <ol>
        <li>Delete /bin and /obj from the project folder</li>
        <li>change name of Boilerplate.csproj to [YOUR PROJECT NAME].csproj</li>
        <li>using VS Code, find and replace all occurances of the name Boilerplate throughout the code and config files and change to YOUR PROJECT NAME</li>
        <li>change name of project folder itself to YOUR PROJECT NAME</li>
    </ol>
    </p>
    <p>
    MySQL usage:
    <ol>
        <li>Database credentials is in docker-compose.yml - change them to your own credentials</li>
        <li>Access Myadminer via http://localhost:8080 and enter in server / username / password</li>
        <li>Since MySQL spins up in a docker container, start up app with: docker compose build / docker compose up</li>
    </ol>
    </p>
</div>